body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #BCE0D6;
  
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #F2FDFB;
  padding: 20px;
  width: 320px;
  text-align: center;
  border-radius: 15px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #83C6A1;
  border: none;
  color: white;
  cursor: pointer;
}

.signin-link {
  margin-top: 15px;
  font-size: 14px;
}

.signin-link a {
  color: #2b5e4c;
  text-decoration: underline;
}


